composition hip_hop
var(Note note , Number res)


func bach :: Note n1, Note n2, Note n3, Note n4, Note n5 -> Silence
|>	
	Play(n1,0);
	Play(n2,0);
	[:
		Play(n3,0);
		Play(n4,0);
		Play(n5,0);
	:]
<|

main
|>	
	Stream(3);

	bach(C4.1/2,E4.1/2,G4.1/2,C5.1/2,E5.1/2);
	bach(C4.1/2,E4.1/2,G4.1/2,C5.1/2,E5.1/2);

	bach(C4.1/2,D4.1/2,A4.1/2,D5.1/2,F5.1/2);
	bach(C4.1/2,D4.1/2,A4.1/2,D5.1/2,F5.1/2);

	bach(B3.1/2,D4.1/2,G4.1/2,D5.1/2,F5.1/2);
	bach(B3.1/2,D4.1/2,G4.1/2,D5.1/2,F5.1/2);

	bach(C4.1/2,E4.1/2,G4.1/2,C5.1/2,E5.1/2);
	bach(C4.1/2,E4.1/2,G4.1/2,C5.1/2,E5.1/2);

	MusicSheet();

<|
